body {
  margin: 0;;
  font-size:24px;
  font-family:Oswald, Tahoma, sans-serif;
  overflow: hidden;
  background-color: #000000;
}

a {
  color: #00B7FF;
}

#file-container {
  margin: 30px 0px;
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 9999;
  width: 100%;
}

#file-input-label {
  width: 150px;
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  padding: 5px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}

#file-input {
	display: none;
}

#file-progress-container {
	display: none;
	margin: 15px 0 0 0;
}

#contents {
	margin: 15px 0 0 0;
	display: none;
	text-align: left;
	background-color: rgba(0,0,0,0.1);
	padding: 10px;
	font-size: 13px;
	max-height: 300px;
	overflow: auto;
}

.scene-nav-info {
  bottom: 15px !important;
}

textarea {
  z-index: 999;
  position: fixed;
  left: 10px !important;
  top: 10px !important;
  min-width: 20vw !important;
  min-height: 97vh !important;
  overflow: auto;
  background-color: rgb(0 0 0 / 65%);
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
textarea {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.dg.ac {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 999 !important;
}