body {
  margin: 0;;
  font-size:24px;
  font-family:Oswald, Tahoma, sans-serif;
  overflow: hidden;
  background-color: #000000;
}

a {
  color: #00B7FF;
}

#file-container {
  margin: 30px 0px;
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 9999;
  width: 100%;
}

#file-input-label {
  width: 150px;
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  padding: 5px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}

#file-input {
	display: none;
}

#file-progress-container {
	display: none;
	margin: 15px 0 0 0;
}

#contents {
	margin: 15px 0 0 0;
	display: none;
	text-align: left;
	background-color: rgba(0,0,0,0.1);
	padding: 10px;
	font-size: 13px;
	max-height: 300px;
	overflow: auto;
}

.scene-nav-info {
  bottom: 15px !important;
}